<%- include('head') %>

<body>

	<article id="end" class="fadeAnim">
		<h1><strong>Congrats,</strong> you finished the questionnaire</h1>

		<p>Thank you for taking the time to participate.</p>

		<p>Have a nice day!</p>

		<p>You can go back to a previous page if you want to change some answers:</p>

		<div id="backLinks">
			<a href="/person_back/<%= key %>">Person</a>
			<a href="/favorites_back/<%= key %>">Favorites</a>
			<a href="/openQuestions_back/<%= key %>">Open Questions</a>
		</div>
	</article>

	<input name="key" type="hidden" value="<%= key %>">

</body>

</html>