<%- include('head') %>

<body>

	<form action="/openQuestions" method="POST" id="favorites">
		<fieldset>
			<legend>Hello
				<strong>
					<% if (locals.name) { %>
					<%= name %>,
					<% } else { %>
					anonymous,
					<% } %>
				</strong>what are your favorites?
			</legend>


			<label for="browser">Favorite browser</label>
			<% if (locals.data.favorites.browser) { %>
			<input type="text" id="browser" name="browser" placeholder="Firefox" autocomplete="off"
				value="<%= data.favorites.browser %>" required>
			<% } else { %>
			<input type="text" id="browser" name="browser" placeholder="Firefox" autocomplete="off" required>
			<% } %>

			<label for="code_editor">Favorite code editor</label>
			<% if (locals.data.favorites.code_editor) { %>
			<input type="text" id="code_editor" name="code_editor" placeholder="Visual Studio Code"
				value="<%= data.favorites.code_editor %>" autocomplete="off" required>
			<% } else { %>
			<input type="text" id="code_editor" name="code_editor" placeholder="Visual Studio Code" autocomplete="off"
				required>
			<% } %>

			<fieldset>
				<!-- todo: dit moet een range input worden -->
				<legend id="development">Development</legend>

				<% if (locals.data.favorites.development) { %>
				<% if (data.favorites.development === "Frontend") { %>
				<input type="radio" name="development" value="Frontend" id="Frontend" checked required />
				<label for="Frontend">Frontend</label>

				<input type="radio" name="development" value="Backend" id="Backend" required />
				<label for="Backend">Backend</label>
				<% } else { %>
				<input type="radio" name="development" value="Frontend" id="Frontend" required />
				<label for="Frontend">Frontend</label>

				<input type="radio" name="development" value="Backend" id="Backend" checked required />
				<label for="Backend">Backend</label>
				<% }} else { %>
				<input type="radio" name="development" value="Frontend" id="Frontend" required />
				<label for="Frontend">Frontend</label>

				<input type="radio" name="development" value="Backend" id="Backend" required />
				<label for="Backend">Backend</label>
				<% } %>
			</fieldset>

			<fieldset>
				<legend>Indentation</legend>

				<% if (locals.data.favorites.indentation) { %>
				<% if (data.favorites.indentation === "Tabs") { %>
				<input type="radio" name="indentation" value="Tabs" id="Tabs" checked required />
				<label for="Tabs">Tabs</label>

				<input type="radio" name="indentation" value="Spaces" id="Spaces" required />
				<label for="Spaces">Spaces</label>
				<% } else { %>
				<input type="radio" name="indentation" value="Tabs" id="Tabs" required />
				<label for="Tabs">Tabs</label>

				<input type="radio" name="indentation" value="Spaces" id="Spaces" checked required />
				<label for="Spaces">Spaces</label>
				<% }} else { %>
				<input type="radio" name="indentation" value="Tabs" id="Tabs" required />
				<label for="Tabs">Tabs</label>

				<input type="radio" name="indentation" value="Spaces" id="Spaces" required />
				<label for="Spaces">Spaces</label>
				<% } %>
			</fieldset>

			<!-- todo: dit moet een select input worden -->
			<label for="language">Favorite coding language</label>
			<% if (locals.data.favorites.language) { %>
			<input type="text" id="language" name="language" placeholder="Javascript" autocomplete="off"
				value="<%= data.favorites.language %>" required>

			<% } else { %>
			<input type="text" id="language" name="language" placeholder="Javascript" autocomplete="off" required>

			<% } %>

			<input name="key" type="hidden" value="<%= key %>">

			<input type="submit" value="Next">
		</fieldset>
	</form>

</body>

</html>