<%- include('head') %>

<body>

	<form action="/openQuestions" method="POST" id="favorites">
		<fieldset>
			<legend>Hello
				<strong>
					<% if (locals.name) { %>
					<%= name %>,
					<% } else { %>
					anonymous,
					<% } %>
				</strong>what are your favorites?
			</legend>


			<label for="browser">Favorite browser</label>
			<% if (locals.data.favorites.browser) { %>
			<input type="text" id="browser" name="browser" placeholder="Firefox" autocomplete="off"
				value="<%= data.favorites.browser %>" required>
			<% } else { %>
			<input type="text" id="browser" name="browser" placeholder="Firefox" autocomplete="off" required>
			<% } %>

			<label for="code_editor">Favorite code editor</label>
			<% if (locals.data.favorites.code_editor) { %>
			<input type="text" id="code_editor" name="code_editor" placeholder="Visual Studio Code"
				value="<%= data.favorites.code_editor %>" autocomplete="off" required>
			<% } else { %>
			<input type="text" id="code_editor" name="code_editor" placeholder="Visual Studio Code" autocomplete="off"
				required>
			<% } %>

			<fieldset>
				<!-- todo: dit moet een range input worden -->
				<legend id="development">Development</legend>

				<% if (locals.data.favorites.development) { %>
				<% if (data.favorites.development === "Frontend") { %>
				<input type="radio" name="development" value="Frontend" id="Frontend" checked required />
				<label for="Frontend">Frontend</label>

				<input type="radio" name="development" value="Backend" id="Backend" required />
				<label for="Backend">Backend</label>
				<% } else { %>
				<input type="radio" name="development" value="Frontend" id="Frontend" required />
				<label for="Frontend">Frontend</label>

				<input type="radio" name="development" value="Backend" id="Backend" checked required />
				<label for="Backend">Backend</label>
				<% }} else { %>
				<input type="radio" name="development" value="Frontend" id="Frontend" required />
				<label for="Frontend">Frontend</label>

				<input type="radio" name="development" value="Backend" id="Backend" required />
				<label for="Backend">Backend</label>
				<% } %>
			</fieldset>

			<fieldset>
				<legend>Indentation</legend>

				<% if (locals.data.favorites.indentation) { %>
				<% if (data.favorites.indentation === "Tabs") { %>
				<input type="radio" name="indentation" value="Tabs" id="Tabs" checked required />
				<label for="Tabs">Tabs</label>

				<input type="radio" name="indentation" value="Spaces" id="Spaces" required />
				<label for="Spaces">Spaces</label>
				<% } else { %>
				<input type="radio" name="indentation" value="Tabs" id="Tabs" required />
				<label for="Tabs">Tabs</label>

				<input type="radio" name="indentation" value="Spaces" id="Spaces" checked required />
				<label for="Spaces">Spaces</label>
				<% }} else { %>
				<input type="radio" name="indentation" value="Tabs" id="Tabs" required />
				<label for="Tabs">Tabs</label>

				<input type="radio" name="indentation" value="Spaces" id="Spaces" required />
				<label for="Spaces">Spaces</label>
				<% } %>
			</fieldset>


			<label for="language">Favorite coding language</label>
			<% if (locals.data.favorites.language) { %>
			<% if (data.favorites.language === "Javascript") { %>
			<select name="language" id="language" required>
				<option value="" disabled hidden>Choose language</option>
				<option value="Javascript" selected>Javascript</option>
				<option value="Python">Python</option>
				<option value="Java">Java</option>
				<option value="PHP">PHP</option>
				<option value="Ruby">Ruby</option>
				<option value="C">C</option>
				<option value="C++">C++</option>
				<option value="C#">C#</option>
			</select>
			<% } else if (data.favorites.language === "Python") { %>
			<select name="language" id="language" required>
				<option value="" disabled hidden>Choose language</option>
				<option value="Javascript">Javascript</option>
				<option value="Python" selected>Python</option>
				<option value="Java">Java</option>
				<option value="PHP">PHP</option>
				<option value="Ruby">Ruby</option>
				<option value="C">C</option>
				<option value="C++">C++</option>
				<option value="C#">C#</option>
			</select>
			<% } else if (data.favorites.language === "Java") { %>
			<select name="language" id="language" required>
				<option value="" disabled hidden>Choose language</option>
				<option value="Javascript">Javascript</option>
				<option value="Python">Python</option>
				<option value="Java" selected>Java</option>
				<option value="PHP">PHP</option>
				<option value="Ruby">Ruby</option>
				<option value="C">C</option>
				<option value="C++">C++</option>
				<option value="C#">C#</option>
			</select>
			<% } else if (data.favorites.language === "PHP") { %>
			<select name="language" id="language" required>
				<option value="" disabled hidden>Choose language</option>
				<option value="Javascript">Javascript</option>
				<option value="Python">Python</option>
				<option value="Java">Java</option>
				<option value="PHP" selected>PHP</option>
				<option value="Ruby">Ruby</option>
				<option value="C">C</option>
				<option value="C++">C++</option>
				<option value="C#">C#</option>
			</select>
			<% } else if (data.favorites.language === "Ruby") { %>
			<select name="language" id="language" required>
				<option value="" disabled hidden>Choose language</option>
				<option value="Javascript">Javascript</option>
				<option value="Python">Python</option>
				<option value="Java">Java</option>
				<option value="PHP">PHP</option>
				<option value="Ruby" selected>Ruby</option>
				<option value="C">C</option>
				<option value="C++">C++</option>
				<option value="C#">C#</option>
			</select>
			<% } else if (data.favorites.language === "C") { %>
			<select name="language" id="language" required>
				<option value="" disabled hidden>Choose language</option>
				<option value="Javascript">Javascript</option>
				<option value="Python">Python</option>
				<option value="Java">Java</option>
				<option value="PHP">PHP</option>
				<option value="Ruby">Ruby</option>
				<option value="C" selected>C</option>
				<option value="C++">C++</option>
				<option value="C#">C#</option>
			</select>
			<% } else if (data.favorites.language === "C++") { %>
			<select name="language" id="language" required>
				<option value="" disabled hidden>Choose language</option>
				<option value="Javascript">Javascript</option>
				<option value="Python">Python</option>
				<option value="Java">Java</option>
				<option value="PHP">PHP</option>
				<option value="Ruby">Ruby</option>
				<option value="C">C</option>
				<option value="C++" selected>C++</option>
				<option value="C#">C#</option>
			</select>
			<% } else if (data.favorites.language === "C#") { %>
			<select name="language" id="language" required>
				<option value="" disabled hidden>Choose language</option>
				<option value="Javascript">Javascript</option>
				<option value="Python">Python</option>
				<option value="Java">Java</option>
				<option value="PHP">PHP</option>
				<option value="Ruby">Ruby</option>
				<option value="C">C</option>
				<option value="C++">C++</option>
				<option value="C#" selected>C#</option>
			</select>
			<% }} else { %>
			<select name="language" id="language" required>
				<option value="" selected disabled hidden>Choose language</option>
				<option value="Javascript">Javascript</option>
				<option value="Python">Python</option>
				<option value="Java">Java</option>
				<option value="PHP">PHP</option>
				<option value="Ruby">Ruby</option>
				<option value="C">C</option>
				<option value="C++">C++</option>
				<option value="C#">C#</option>
			</select>
			<% } %>

			<input name="key" type="hidden" value="<%= key %>">

			<input type="submit" value="Next">
		</fieldset>
	</form>

</body>

</html>